// Fonts
$fontStack: 'Lora', serif;
$fontStack2: 'Alex Brush', 'Times New Roman', cursive;

// Screen sizes
$desktop: 1280px;
$laptop: 960px;
$tablet: 640px;
$phone: 320px;

// Colors
$schemeColor: #fff7ed;
$backgroundColor: #191919;
$textColor: #fff7ed;
$textColor2: white;
$linkColor: blue;

// Header menu colors
$headerMenuBackgroundColor: #191919;
$headerSubMenuBackgroundColor: #191919;
$headerMenuLinkColor: #fff7ed;
$headerMenuItemHoverColor: rgba(black, .5);
$currentMenuItemBackgroundColor: rgba(black, .5);

// Borders
$borderColor: #fff7ed - 180;
$inputBorderColor: #fff7ed;

// <code> tag and similar
$codeTagColor: #fff7ed;

// Forms and Buttons
$buttonColor: #fff7ed;
$buttonTextColor: black;

// Captions
$captionBackgroundColor: #fff7ed;
$captionColor: black;