/* 3.0 Forms and Form elements */
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
textarea,
select{ 
	background-color: $schemeColor;
	color: #191919; 
	max-width: 100%;
}

input[type="text"],
input[type="submit"],
input[type="reset"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
button,
textarea,
select{
	border: 1px solid $inputBorderColor;
	padding: 3px;
	border-radius: 2px !important;
}

input[type="text"],
input[type="submit"],
input[type="reset"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
button,
textarea{
	appearance: none !important;
}

input[type="submit"],
button,
.button,
.comment-reply-link{
	background-color: $buttonColor;
	color: $buttonTextColor;
	padding: 3px;
	border-radius: 2px;
	text-decoration: none !important; 

	&:hover{ text-decoration: underline !important; }
}

.nav-links{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.page-numbers.current{ text-decoration: underline; }

.page-numbers,
.pagination span{}

.page-numbers,
.entry-meta-content a,
.comment-reply-link,
.nav-links a{}

.pagination span:not(.screen-reader-text),
.nav-previous{
	margin-right: .5em;
}

.pagination{
	margin-bottom: 1em;

	> span:not(.page-links-title){ text-decoration: underline; }
}

.nav-previous a:before,
.nav-next a:after{
	font-family: FontAwesome;
	display: inline-block;
}

.nav-previous a:before{
	content: '\f177';
	padding-right: 5px;
}

.nav-next a:after{
	content: '\f178';
	padding-left: 5px;
}

@media (max-width: 425px){
	.nav-links{
		justify-content: center;
		
		>span,
		>a{ margin: 0 .5em;}
		
		>div{ margin: .5em 0; }
	}
}