/* 4.0 Layout */
.container{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 1em;
}

#top-widget-area,
#top-centered-widget-area,
#footer-widget-area,
#footer-centered-widget-area,
.site-content{
	margin-top: 2em;
}

.site-content{ display: flex; }

main{ 
	margin-right: 2em; 
	width: 100%;
	max-width: 100%;
	min-width: 100px;
}

.no-sidebar{
	.site-content{ display: block; }

	main{
		margin: 0;
		max-width: 1024px;
	}
}

@media (max-width: 1200px){
	.container{ width: auto; }
}

@media (max-width: 768px){
	.site-content{ display: block; }

	main{ margin: 0; }
}