/* 7.0 Menus */
.menu-toggle{
	font-size: 1.6em;
	cursor: pointer;
}

#header-menu-container{
	display: none;
	background-color: $headerMenuBackgroundColor;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 0;
	width: 100%;
	max-width: 320px;
	font-size: 1.2em;

	.menu-toggle{ margin: .25em .5em;}
}

.header-menu{
	.menu-item{
		list-style: none;
		min-height: 2em;
		line-height: 3em;
		transition: .3s;

		&:hover{
			> .sub-menu{ display: block; }
		}

		a{ word-wrap: break-word; }
	}

	.menu-item-has-children > a:after{
		font-family: FontAwesome;
		padding-left: .5em;
    content: "\f107";
	}

	.current-menu-item > a:before{
		font-family: FontAwesome;
		padding-right: .5em;
    content: "\f0da";
	}

	.sub-menu{
		min-width: 100px;
		display: none;
		padding: 0;
		padding-left: 1em;

		.menu-item{ position: relative; }

		.sub-menu{
			top: 0;
			left: 100%;
		}
	}

	a{
		padding: 0 .5em;

		&:hover{ text-decoration: none; }
	}
}

.no-js{
	.menu-toggle{ display: none; }
	
	#header-menu-container{ 
		position: relative;
		display: block; 
		top: auto;
		left: auto;
		padding: 0;
		max-width: 100%;
	}

	.header-menu{
		position: relative;
		top: auto;
		padding: 0;
		margin: 0;
		max-width: 100%;
		font-size: 1.2em;
		background-color: #191919;
		display: flex;
		flex-wrap: wrap;

		a{ color: white; }

		.sub-menu{
			background-color: #191919;
			position: absolute;
			padding: 0;

			
			.menu-item-has-children > a:after{ content: "\f105"; }
		}
	}
}

@media (max-width: $tablet){
	.no-js{
		.header-menu,
		.header-menu .sub-menu{ display: block; }

		.header-menu .sub-menu{ 
			position: relative; 
			left: auto;
			margin-left: 1rem;

			.menu-item-has-children > a:after{ content: ""; }
		}
	}
}	

/* Footer menu */
.footer-menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	font-size: .8em;

	.menu-item{
		list-style: none;

		&:not(:last-child){
			padding-right: .5em;
			margin-right: .5em;
			border-right: 1px solid $borderColor;
		}
	}
}

@media (max-width: $laptop){	
	.js{
		.menu-toggle{ display: block; }

		.header-menu{
			.sub-menu{ 
				display: block; 
				position: relative;
				top: 0;
				right: auto;
				padding-left: 1em;
				
				.sub-menu{ left: 0; }
			}
		}
	}

	.header-menu{
		display: block;

		.menu-item-has-children > a:after{ content: ""; }
	}
}

@media (max-width: 375px){
	.header-menu{
		margin: 1px 0 0 -.85em;
	}
}