/* 10.0 Titles */
.archive-entry-header {
	text-align: center;
	h3{
		border-bottom: 1px solid $borderColor;
		padding-bottom: .5em;
		margin-bottom: .5em;
	}

	a{ text-decoration: none; }
}

.content-header{ 
	width: 100%;
	margin-bottom: 1em; 
	text-align: center;
}

.content-title{ 
	text-align: center; 
	border-bottom: 1px solid $borderColor;
	padding-bottom: .5em;
	margin-bottom: .5em;
}

.single:not(.single-format-standard) .content-title:before,
.archive .content-title:before{
	font-family: FontAwesome;
	font-weight: normal;
	margin-right: .5rem;
}

.archive .content-title:before{ content: '\f07b'; }
.tag .content-title:before{ content: '\f02b'; }
.author .content-title:before{ content: '\f007'; }
.date .content-title:before{ content: '\f073'; }
.search .content-title:before{ content: '\f002'; }
.error404 .content-title:before{ content: '\f15b'; }

/* post format prefix icons*/
.attachment,
.single-format-image,
.single-format-gallery,
.term-post-format-image,
.term-post-format-gallery{
	.content-title:before{ content: '\f03e'; }
}

.single-format-audio,
.term-post-format-audio{
	.content-title:before{ content: '\f001'; }
}

.single-format-video,
.term-post-format-video{
	.content-title:before{ content: '\f03d'; }
}

.single-format-status,
.term-post-format-status{
	.content-title:before{ content: '\f12a'; }
}

.single-format-link,
.term-post-format-link{
	.content-title:before{ content: '\f0c1'; }
}

.single-format-quote,
.term-post-format-quote{
	.content-title:before{ content: '\f10e'; }
}

.single-format-chat,
.term-post-format-chat{
	.content-title:before{ content: '\f086'; }
}

.content-title-description p{
	margin: 0;
}

.archive .content-title{ 
	border: 0; 
	margin: 0;
	padding: 0;
}

.archive .content-header{ margin-bottom: 3em; }