/* 14.0 Widgets */
#top-widget-area,
#footer-widget-area{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.widget-container{ margin: 0 3em 1em 0; }
}

#sidebar-widget-area{
	width: 100%;
	max-width: 300px;
	.widget-container{ margin-bottom: 2em; }
}

.widget-title{ 
	text-align: center;
	margin-bottom: .5em; 
}

.widget-container{ 
	word-wrap: break-word; 
	ul{
		margin: 0;
		padding: 0 0 0 1.3em;
		li{ line-height: 1.6em; }
	}
}

.widget_calendar{
	thead{ width: 100%; }
	
	thead,
	tbody{ text-align: center; }
	
	th,
	td{ border: 0; }

	a{ font-weight: bold; }
}

@media (max-width: 768px){
	#top-widget-area,
	#footer-widget-area,
	#sidebar-widget-area{
		flex-wrap: wrap;

		.widget-container{ 
			max-width: 100%;
			margin: 0 0 1em 0;
		}
	}

	#sidebar-widget-area{
		display: flex;
		max-width: 1024px;
		margin: 2em auto;
		padding: 0;

		.widget-container{ margin: 0 1em 1em 0; }
	}

	#top-widget-area,
	#sidebar-widget-area,
	#footer-widget-area{
		justify-content: center;
	}
}