.comments-area {
  display: grid;
  grid-template-columns: minmax(0, 100%);
}

.comments-title {
  padding: 0 0 1em;
  border-bottom: 0.0625em solid var(--color-border);
}

.comment-navigation .nav-links {
  display: flex;
  flex-wrap: wrap;

  > div  {
    margin: 0 1em 0 0;
  }
}

.comment-list {
  display: grid;
  grid-template-columns: minmax(0, 100%);
  margin: 0;
}

.comment,
.pingback {
  list-style: none;
}

.pingback {
  font-weight: 600;

  a {
    font-weight: normal;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.comment-meta {
  margin-bottom: 1em;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.bypostauthor .comment-author .fn::before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  content: '\f040';
  padding-right: .5em;
}

.comment-author.avatar {
  position: relative;
  float: left;
  margin-right: .5em;
}

.comment-metadata {
  font-size: .7rem;
  margin-top: 1em;
}

.comment-body {
  padding-bottom: 1em;
  border-bottom: 0.0625em solid var(--color-border);
}

.comment-reply-link {
  background-color: var(--color-text);
  color: var(--color-bg);
  text-decoration: none;
  border-radius: .15em;
  padding: 0.1em .15em;
}

.comment-form {
  label {
    display: block;
  }

  p {
    margin: 0 0 1em;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.comment-reply-title {
  margin: 0;
}