.page-header,
.entry-header {
  text-align: center;

  h1,
  h3 {
    margin: 0 0 .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid var(--color-border);
  }

  a {
    text-decoration: none;
  }
}

.entry-meta {
  display: grid;

  a:hover {
    text-decoration: underline;
  }
}

.sticky .entry-header h3::before,
.entry-meta > span::before,
.post-edit-link::before,
.attachment .entry-header h1::before,
.single-format-gallery .entry-header h1::before,
.single-format-image .entry-header h1::before,
.single-format-audio .entry-header h1::before,
.single-format-video .entry-header h1::before,
.single-format-aside .entry-header h1::before,
.single-format-status .entry-header h1::before,
.single-format-link .entry-header h1::before,
.single-format-quote .entry-header h1::before,
.single-format-chat .entry-header h1::before,
.archive.category .page-header h1::before,
.archive.date .page-header h1::before,
.archive.tag .page-header h1::before,
.search-results .page-header h1::before,
.archive.author .page-header h1::before,
.archive.term-post-format-gallery .page-header h1::before,
.archive.term-post-format-image .page-header h1::before,
.archive.term-post-format-audio .page-header h1::before,
.archive.term-post-format-video .page-header h1::before,
.archive.term-post-format-aside .page-header h1::before,
.archive.term-post-format-status .page-header h1::before,
.archive.term-post-format-link .page-header h1::before,
.archive.term-post-format-quote .page-header h1::before,
.archive.term-post-format-chat .page-header h1::before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-right: .25em;
}

.sticky .entry-header h3::before {
  content: '\f08d';
}

.entry-meta-author::before,
.archive.author .page-header h1::before {
  content: '\f007';
}

.entry-meta-date::before,
.archive.date .page-header h1::before {
  content: '\f073';
}

.entry-meta-comments::before {
  content: '\f0e5';
}

.entry-meta-categories::before,
.archive.category .page-header h1::before {
  content: '\f07b';
}

.format-gallery .entry-meta-post-format::before,
.format-image .entry-meta-post-format::before,
.attachment .entry-header h1::before,
.single-format-gallery .entry-header h1::before,
.single-format-image .entry-header h1::before,
.archive.term-post-format-gallery .page-header h1::before,
.archive.term-post-format-image .page-header h1::before {
  content: '\f03e';
}

.entry-meta-image-dimesions::before {
  content: '\f030';
}

.format-audio .entry-meta-post-format::before,
.single-format-audio .entry-header h1::before,
.archive.term-post-format-audio .page-header h1::before {
  content: '\f001';
}

.format-video .entry-meta-post-format::before,
.single-format-video .entry-header h1::before,
.archive.term-post-format-video .page-header h1::before {
  content: '\f03d';
}

.format-aside .entry-meta-post-format::before,
.single-format-aside .entry-header h1::before,
.archive.term-post-format-aside .page-header h1::before {
  content: '\f249';
}

.format-status .entry-meta-post-format::before,
.single-format-status .entry-header h1::before,
.archive.term-post-format-status .page-header h1::before {
  content: '\f12a';
}

.format-link .entry-meta-post-format::before,
.single-format-link .entry-header h1::before,
.archive.term-post-format-link .page-header h1::before {
  content: '\f0c1';
}

.format-quote .entry-meta-post-format::before,
.single-format-quote .entry-header h1::before,
.archive.term-post-format-quote .page-header h1::before {
  content: '\f10e';
}

.format-chat .entry-meta-post-format::before,
.single-format-chat .entry-header h1::before,
.archive.term-post-format-chat .page-header h1::before {
  content: '\f086';
}

.post-edit-link::before {
  content: '\f040';
}

.archive.tag .page-header h1::before {
  content: '\f02b';
}

.search-results .page-header h1::before {
  content: '\f002';
}

@media (min-width: 768px) {
  .entry-meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > *:not(:last-child) {
      margin-right: 1em;
    }
  }
}