/* Post format: Video */
.js {
  .format-video {
    iframe,
    embed,
    object {
      width: 100%;
    }
  }
}

/* Post format: Aside */
.format-aside {
  .entry-meta {
    font-size: .8rem;
  }
}

/* Post format: Status */
.format-status {
  background-color: var(--color-text);
  color: var(--color-bg);
  padding: 1em;
  border-radius: .15em;

  a {
    color: var(--color-bg);
  }

  .entry-meta {
    font-size: .8rem;
  }

  .entry-content {
    font-size: 1.2rem;
    font-weight: 600;

    * {
      margin: 0;
    }
  }
}

/* Post format: Link */
.format-link {
  background-color: var(--color-text);
  color: var(--color-bg);
  padding: 1em;
  border-radius: .15em;

  a {
    color: var(--color-bg);
  }

  .entry-content {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;

    * {
      margin: 0;
    }
  }
}

/* Post format: Quote */
.format-quote {
  background-color: var(--color-text);
  color: var(--color-bg);
  padding: 1em;
  border-radius: .15em;

  a {
    color: var(--color-bg);
  }

  .entry-content {
    font-size: 1.8rem;
    font-weight: 600;

    * {
      margin: 0;
    }
  }

  blockquote {
    border: none;
    padding: 0 2em;
    position: relative;
    display: inline-block;
    text-align: center;

    &::before {
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      position: absolute;
      font-size: 3rem;
      content: '\f10e';
      top: 0;
      left: 0;
    }
  }
}

/* Post format: Chat */
.format-chat {
  .entry-content {
    border: 0.0625em solid var(--color-border);
    padding: 1em;
    font-style: italic;
  }
}