body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  word-wrap: break-word;
}

.read-more-link {
  position: relative;
  display: table-cell;
  background-color: var(--color-text);
  color: var(--color-bg);
  border: none;
  border-radius: .15em;
  top: .5em;
  padding: 0 .25em;
  text-decoration: none;
}

.page-links {
  > * {
    margin-left: 1em;
  }

  > span {
    font-weight: 600;
    text-decoration: underline;
  }

  > a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}