.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail,
.alignnone,
.wp-caption,
img {
  max-width: 100%;
  height: auto;
}

img {
  filter: sepia(100%);
  transition: filter .3s ease-in-out;
  
  &:hover {
    filter: sepia(0%);
  }
}

.custom-logo,
.avatar {
  filter: none !important;
}

.wp-caption,
.gallery-item {
  background-color: var(--color-text);
  color: var(--color-bg);
  text-align: center;

  p {
    margin: 0;
  }

  a {
    color: var(--color-bg);
  }
}

.wp-caption,
.gallery-item {
  overflow: hidden;
  font-size: .8rem;
  margin-bottom: .5em;
}

.wp-caption-text,
.gallery-caption {
  padding: .5em;
}

figure {
  margin: 0;
}

img {
  vertical-align: top;
}

.attachment .entry-content img {
  display: block;
  margin: 0 auto 1em;
}

iframe,
embed,
object {
  max-width: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, auto));
  max-width: 1056px; /* content width */
  grid-gap: 1em;
}

.gallery-columns-1 {
  grid-template-columns: minmax(0, 1fr);
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .gallery-columns-1 {
    grid-template-columns: minmax(0, 1fr);
  }

  .gallery-columns-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .gallery-columns-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .gallery-columns-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .gallery-columns-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .gallery-columns-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .gallery-columns-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .gallery-columns-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .gallery-columns-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  .gallery-columns-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
}