#main-content-container {
  width: calc(100% - 2em);
  max-width: calc(1024px - 2em);
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}

#site-main,
#site-main > section {
  display: grid;
  grid-template-columns: minmax(0, 100%);
  align-content: start;
  grid-gap: 1em;
}

#site-main {
  grid-gap: 2em;
}

@media (min-width: 1024px) {
  .has-sidebar #main-content-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 300px);
    grid-gap: 1em;
  }
}