.widget-area {
  display: grid;
  grid-template-columns: minmax(0, 100%);
  align-content: start;
  grid-gap: 2em;
}

#widget-area-top,
#widget-area-footer {
  max-width: calc(1024px - 2em);
  padding: 1em;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  #widget-area-top,
  #widget-area-footer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .widget-area {
    grid-template-columns: minmax(0, 300px);
  }
}