#site-footer {
  display: grid;
  width: calc(100% - 2em);
  max-width: calc(1024px - 2em);
  padding: 1em;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: .8rem;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

#footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  list-style: none;

  li:not(:last-child) {
    border-right: 0.0625em solid var(--color-border);
    margin-right: .5em;
    padding-right: .5em;
  }
}

#site-footer-information {
  display: grid;
}

#scroll-to-top {
  background-color: var(--color-bg);
  position: fixed;
  bottom : -2000px;
  right: 20px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  border: 0.0625em solid var(--color-border);
  overflow: hidden;
  opacity: .5;
  transition: bottom 1s ease-in-out, opacity .3s ease-in-out;

  &::before,
  &::after {
    background-color: var(--color-border);
    position: absolute;
    content: "";
    width: 43%;
    height: 2px;
    transition: background-color .3s ease-in-out;
  }

  &::before {
    top: 50%;
    right: 15%;
    transform: rotate(45deg);
  }

  &::after {
    top: 50%;
    left: 15%;
    transform: rotate(-45deg);
  }

  &:hover {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  #site-footer-information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > *:not(:last-child) {
      margin-right: .5em;
      padding-right: .5em;
      border-right: 0.0625em solid var(--color-border);
    }
  }
}