#site-header {
  width: 100%;
  min-height: 500px;
  background-size: cover;
  background-position: center;
}

#site-header-inner {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
}

#site-branding {
  display: inline-block;
  border: 0.125em solid var(--color-branding);
  box-shadow: inset 0px 0px 0.5em var(--color-bg), 0px 0px 0.5em var(--color-bg);
  text-shadow: 0.125em 0.125em 0.5em var(--color-bg);
  padding: 1em;
  font-size: 1.6rem;
  font-family: "Alex Brush", "Times New Roman", cursive;
  text-align: center;
  max-width: calc(100% - 4em);
  margin: 1em auto;
  color: var(--color-branding);

  > *::before,
  > *:last-child::after {
    display: block;
    content: '*';
    font-size: 3rem;
  }

  a {
    text-decoration: none;
  }
}

.site-title {
  color: var(--color-branding);
  text-decoration: none;
  font-size: 5rem;
}

@media only screen and (min-width: 768px) {
  #site-header-inner {
    display: block;
  }

  #site-branding {
    margin: 1em 1em 1em 2em;
  }
}