:root {
  --font-family: "Lora", serif;
  --font-size: 12pt;

  --color-bg:        #191919;
  --color-text:      #FFF7ED;
  --color-anchor:    #FFF7ED;
  --color-branding:  #FFF7ED;
  --color-bg-menu:   #191919;
  --color-text-menu: #FFF7ED;
  --color-border:    #4B4339;
}