/* Compoinents: Nav links */
.nav-links {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1em;
  font-size: 1.2rem;
  font-weight: 700;

  a {
    color: var(--text-color);
  }
}

.nav-previous,
.nav-next,
.page-numbers:not(.dots) {
  text-decoration: none;
}

.nav-next {
  margin-inline-start: auto;
}

.nav-previous ~ .nav-next {
  margin-inline-start: 0;
}

.nav-previous a,
.nav-next a,
.page-numbers:not(.dots) {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-previous a:hover::after,
.nav-next a:hover::after {
  background-color: var(--text-color);
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: var(--border-width);
  inset-inline: 0;
  inset-block-end: 0;
}

.page-numbers.dots {
  padding: .75em .5em 0;
}

.page-numbers.current {
  background-color: transparent;
  color: var(--text-color);
}

.nav-previous i,
.page-numbers.prev i {
  margin-right: .5em;
}

.nav-next i,
.page-numbers.next i {
  margin-left: .5em;
}