/* Classes: Alignment */
.alignright{
  float: right;
  margin: 0 0 1em 1em;
}

.alignleft{
  float: left;
  margin: 0 1em 1em 0;
}

.aligncenter{ 
  display: block; 
  margin: 0 auto 1em;
  text-align: center;
}

/* Clear floats */
.entry-content::after {
  content: "";
  display: table;
  clear: both;
}