/* Base: Lists */
dt { 
  font-weight: 600;
}

dd {
  margin-block-end: 1em;
  margin-inline-start: 1em;
  line-height: 1.5;
}

ul,
ol {
  margin-inline-start: 2em;
  padding: 0;
}

li {
  margin-block: .65em;
}