/* Base: Tables */
table,
td,
th {
  border: var(--border-width) solid var(--border-color);
}

table {
  display: inline-block;
  border-spacing: 0;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  margin-block-end: 1em;

  @media (min-width: $screen_large_phone) {
    display: table;
    white-space: initial;
    border-collapse: collapse;
  }
}

 td,
 th {
  padding: 1em;
}


