/* Pages/lauout: Attachment */
.attachment {
  .entry-content img {
    display: block;
    margin-inline: auto;
  }

  .wp-caption-text {
    background-color: transparent;
    font-weight: initial;
    margin-block: 0;
    color: var(--text-color);
    border: none;
    font-weight: 400;
  }
}