.site-footer {
  padding-block: 2em;
  color: var(--text-color);
  
  @media (min-width: $screen_tablet) {
    margin-block-start: 4rem;
  }

  > * + * {
    margin-block-start: 2em;
  }
  
  a {
    text-decoration: none;
    color: var(--text-color);
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.site-footer-info {
  text-align: center;
  font-size: .85rem;

  @media (min-width: $screen_tablet) {
    margin-inline: 2em;
  }

  > * + * {
    display: block;
    margin-block-start: 1em;

    @media (min-width: $screen_tablet) {
      display: inline-block;
      margin-inline-start: 1em;
      margin-block-start: 0;
      padding-inline-start: 1em;
      border-inline-start: var(--border-width) solid var(--border-color);
    }
  }

  a {
    font-weight: 600;
  }
}
